<web-app>

    <servlet>
        <servlet-name>task1_printprograming</servlet-name>
        <servlet-class>PrintPrograming</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>task1_printprograming</servlet-name>
        <url-pattern>/print</url-pattern>
    </servlet-mapping>

</web-app>
